<!doctype html />
<html>
{% load static %}
	<head>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet" type="text/css">
		<link href="{% static "css/global.css" %}" rel="stylesheet" type="text/css">
		<title>C-Monopoly</title>
		<script type="text/javascript">
			window.settings = {
					static_prefix : "{% get_static_prefix %}",
					user : {
						user__username : "",
						capital : 0,
						netWorth : 0,
						rank:0,
						selling_energy:false,
					},
					states:{{states|safe}},
					productIndustries:{{productIndustries|safe}},
					energyIndustries:{{energyIndustries|safe}},
					transports:{{transports|safe}},
				};
		</script>
		<script type="text/javascript" src="{% static "js/require.js" %}" data-main="{% static "js/main.js" %}" ></script>
	</head>
	<body>
		<img class="splashScreen" src="{% static "images/logo.png" %}" />
		<div class="bigWrapper">
			<div class="notifBar"><span class='username'>Welcome back <span></span></span></div>
			<div class="topBar">
				<img src="{% static "images/logo.png" %}" class="logo"/>
				<nav class="navigation">
					<a href="#game">Home</a>
					<a href="#about">About us</a>
					<a href="#rules">Rules</a>
				</nav>
			</div>
			<div class="mainBar">
				<div class="gameScreen mainScreen active">
					<div class="menuBar">
						<nav class="gameNavigation">
							<a href="#game/industries">Industries</a>
							<a href="#game/transports">Transport</a>
							<a href="#game/govt">Government</a>
							<a href="#game/office">Office</a>
							<a href="#game/leaderboard">Leaderboard</a>
						</nav>
					</div>
					<div class="industriesInfo screenInfo active">
						<div class="leftInfo">
							<div class="detailBox stateInfo">
								
							</div>
						</div>
						<div class="middleInfo detailScreen">
							<div class="exit" title="close" onclick="$(this.parentElement).hide();">&#8855;</div>
							<div class="detailScreenInfo">
							</div>
						</div>
						<div class="middleInfo indiaMap">
							
						</div>
						<div class="rightInfo">
							<div class="userInfo"></div>
							<div class="otherUserInfo userIndustriesInfo"></div>
						</div>
					</div>
					<div class="transportsInfo screenInfo">
						<div class="leftInfo">
							<div class="transportDetail">
								<font color='white'>Click on any transport to see data.</font>
							</div>
							<div class="transportList">
							</div>
						</div>
						<div class="middleInfo assignScreen">
							<div class="exit" title="close" onclick="$(this.parentElement).hide();">&#8855;</div>
							<div class="detailScreenInfo">
							</div>
						</div>
						<div class="middleInfo transportsMap">
							
						</div>
						<div class="rightInfo">
							<div class="userInfo"></div>
							<div class="otherUserInfo myTransports"></div>
						</div>
					</div>
					<div class="govtInfo screenInfo">
						<div class="leftInfo">
							<ul class='govtNav'>
								<li class='selected' name='loans'>Loans</li>
								<li name='energy'>Energy</li>
								<!--<li name='research'>Research</li> -->
							</ul>
						</div>
						<div class="middleInfo">
							<div class='loans govtTile detailBox active'></div>
							<div class='energy govtTile detailBox'>
								<div class='selling_energy_switchBox'></div>
								<div class='market_box detailBox' style='height:87%;top:13%;position:absolute;'></div>
							</div>
							<div class='research govtTile detailBox'></div>
						</div>
						<div class="rightInfo">
							<div class="userInfo"></div>
							<div class="otherUserInfo"></div>
						</div>
					</div>
					<div class="officeInfo screenInfo">
						<div class="leftInfo"></div>
						<div class="middleInfo"></div>
						<div class="rightInfo">
							<div class="userInfo"></div>
							<div class="otherUserInfo"></div>
						</div>
					</div>
					<div class="leaderboardInfo screenInfo">
						<div class="middleLeftInfo"></div>
						<div class="rightInfo">
							<div class="userInfo"></div>
							<div class="otherUserInfo"></div>
						</div>
					</div>
				</div>
				<div class="aboutScreen mainScreen"></div>
				<div class="rulesScreen mainScreen"></div>
			</div>
		</div>
	</body>
</html>